---
const menuItem = [
  {
    title: 'Inicio',
    path: '/',
  },
  {
    title: 'Nuestros Proyectos',
    path: 'javascript:void(0)',
    children: [
      {
        title: 'ASIMOV',
        path: '/asimov/',
        children: [
          { title: 'Submenu1', path: '/submenu1' },
          { title: 'Submenu2', path: '/submenu2' },
        ],
      },
      {
        title: 'Proyecto 2',
        path: '/proyecto-2',
        children: [
          { title: 'Submenu1', path: '/submenu1' },
          { title: 'Submenu2', path: '/submenu2' },
        ],
      },
      {
        title: 'Proyecto 3',
        path: '/proyecto-3',
        children: [
          { title: 'Submenu1', path: '/submenu1' },
          { title: 'Submenu2', path: '/submenu2' },
        ],
      },
      {
        title: 'Proyecto 4',
        path: '/proyecto-4',
        children: [
          { title: 'Submenu1', path: '/submenu1' },
          { title: 'Submenu2', path: '/submenu2' },
        ],
      },
      {
        title: 'Proyecto 5',
        path: '/proyecto-5',
        children: [
          { title: 'Submenu1', path: '/submenu1' },
          { title: 'Submenu2', path: '/submenu2' },
        ],
      },
      {
        title: 'Proyecto 6',
        path: '/proyecto-6',
        children: [
          { title: 'Submenu1', path: '/submenu1' },
          { title: 'Submenu2', path: '/submenu2' },
        ],
      },
      {
        title: 'Proyecto 7',
        path: '/proyecto-7',
        children: [
          { title: 'Submenu1', path: '/submenu1' },
          { title: 'Submenu2', path: '/submenu2' },
        ],
      },
    ],
  },
  {
    title: '¿Quiénes somos?',
    path: '/quienes-somos/',
  },
  {
    title: '¿Qué hacemos?',
    path: '/que-hacemos/',
  },
  {
    title: 'Difusión',
    path: '/difusion/',
  },
  {
    title: 'Contacto',
    path: '/contacto/',
  },
];
---

<header id="header">
  <ul class="nav">
    {
      menuItem.map((item) => (
        <li>
          <a href={item.path}>{item.title} </a>
          {item.children && (
            <ul>
              {item.children.map((subitem) => (
                <li>
                  <a href={subitem.path}>{subitem.title}</a>
                  {subitem.children && (
                    <ul>
                      {subitem.children.map((subsubitem) => (
                        <li>
                          <a href={subsubitem.path}>{subsubitem.title}</a>
                        </li>
                      ))}
                    </ul>
                  )}
                </li>
              ))}
            </ul>
          )}
        </li>
      ))
    }
  </ul>
</header>
<style>
  header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 40;
    elevation: 40;
    justify-content: flex-end;
    display: flex;
    font-size: medium;
    padding-right: 10em;
  

  }

  @media (max-width: 1200px) {
    header {
      padding-right: 0;
    }
  }

  ul,
  ol {
    list-style: none;
  }

  .nav > li {
    float: left;
  }

  .nav li a {
    color: rgba(255, 255, 255, 0.72);
    text-decoration: none;
    padding: 10px 12px;
    display: block;
  }

  .nav li a:hover {
    color: white;
  }

  .nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
  }

  .nav li:hover > ul {
    display: block;
  }

  .nav li ul li {
    position: relative;
  }

  .nav li ul li a {
    background-color: white;
    color: black;
    padding: 10px;
  }

  .nav li ul li a:focus,
  .nav li ul li a:hover {
    color: yellow;
  }
  .nav li ul li ul {
    right: -140px;
    top: 0px;
  }
</style>
