---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import HeaderContainer from '../components/Header.astro';

import NavComponent from '../components/NavComponent.astro';

interface PagesLayoutProps {
  title: string;
  description: string;
  imagePath: ImageMetadata;
  altText: string;
}

const { title, description, imagePath, altText } = Astro.props as PagesLayoutProps;

---

<html lang="es">
  <head>
    <BaseHead title={title} description={description} , image={imagePath.src} />
  </head>

  <body>
    <NavComponent class="nav-component" />
    <main>
      <HeaderContainer imagePath={imagePath.src} altText={altText}>
        <slot name="top" slot="top" />
      </HeaderContainer>
      <section class="">
        <slot />
      </section>
    </main>

    <Footer />
    <style>
      section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 2em;
      }
    </style>
  </body>
</html>
